{#
/**
 * @file page_properties_entity.html.twig
 * Default theme implementation to present Page properties data.
 *
 * This template is used when viewing Page properties pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_page_properties_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('page_properties_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
